@import 'tailwindcss';

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  input[type='password']::-ms-reveal,
  input[type='password']::-ms-clear {
    display: none;
  }
}
